*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
}
.list{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.list li{
width: 25%;
height: 300px;
background-color: #ffff00;
margin-bottom: 1%;
font-size: 2rem;
}
.list li:nth-child(odd){
    background-color: #770daa;
}
@media sceen and (max-width : 1279px){
    /*최대너비 1279px이하 일때~(1279포함)*/
    .list li{
        width: 33.333%;
    }
}
@media screen and (max-width : 767px){
    .list li{
        width: 50%;
        font-size: 1.8rem;
    }
}
@media screen and (max-width : 374px){
    .list{
        display: block;
    }
    .list li{
        width: 100%;
        font-size: 1.4rem;
    }
}